// ************************************************************** //
//                      Variables AdminLTE                        //
// ************************************************************** //

/*
 * General: Miscellaneous
 * ----------------------
 */

// new color themes for AdminLTE
.bg-ocean,
.bg-ocean-active {
  color: #fff !important;
}

.bg-ocean {
  background-color: @ocean !important;
}

.bg-ocean-active {
  background-color: darken(@ocean , 5%) !important;
}

.text-ocean {
  color: @ocean !important;
}
