// ************************************************************** //
//                      Variables AdminLTE                        //
// ************************************************************** //

/*
 * General: Miscellaneous
 * ----------------------
 */

// new color themes for AdminLTE
.bg-clementine,
.bg-curious-blue,
.bg-ocean,
.bg-picton-blue,
.bg-san-marino,
.bg-clementine-active,
.bg-curious-blue-active,
.bg-ocean-active,
.bg-san-marino-active, {
  color: #fff !important;
}

.bg-clementine {
  background-color: @clementine !important;
}

.bg-clementine-active {
  background-color: darken(@clementine , 5%) !important;
}

.text-clementine {
  color: @clementine !important;
}

.bg-curious-blue {
  background-color: @curious-blue !important;
}

.bg-curious-blue-active {
  background-color: darken(@curious-blue , 5%) !important;
}

.text-curious-blue {
  color: @curious-blue !important;
}

.bg-ocean {
  background-color: @ocean !important;
}

.bg-ocean-active {
  background-color: darken(@ocean , 5%) !important;
}

.text-ocean {
  color: @ocean !important;
}

.bg-picton-blue {
  background-color: @picton-blue !important;
}

.bg-picton-blue-active {
  background-color: darken(@picton-blue , 5%) !important;
}

.text-picton-blue {
  color: @picton-blue !important;
}

.bg-san-marino {
  background-color: @san-marino !important;
}

.bg-san-marino-active {
  background-color: darken(@san-marino , 5%) !important;
}

.text-san-marino {
  color: @san-marino !important;
}

.wrapper,
.content-wrapper {
    background-color: #f9f9f9;
}

/*
 * Fix to IE10 in Win8 & Windows Phone 8
 * ----------------------
 */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
