// ************************************************************** //
//                      Variables AdminLTE                        //
// ************************************************************** //

/*
 * General: Miscellaneous
 * ----------------------
 */

// new color themes for AdminLTE
.bg-clementine,
.bg-curious-blue,
.bg-ocean,
.bg-summer-sky,
.bg-san-marino,
.bg-clementine-active,
.bg-curious-blue-active,
.bg-ocean-active,
.bg-san-marino-active,
.bg-janium,
.bg-librarian,
.bg-blush,
.bg-thunderbird {
  color: #fff !important;
}

.bg-blush {
  background-color: @blush !important;
}

.bg-blush-active {
  background-color: darken(@blush , 5%) !important;
}

.text-blush {
  color: @blush !important;
}

.bg-clementine {
  background-color: @clementine !important;
}

.bg-clementine-active {
  background-color: darken(@clementine , 5%) !important;
}

.text-clementine {
  color: @clementine !important;
}

.bg-curious-blue {
  background-color: @curious-blue !important;
}

.bg-curious-blue-active {
  background-color: darken(@curious-blue , 5%) !important;
}

.text-curious-blue {
  color: @curious-blue !important;
}

.bg-janium {
  background-color: @janium !important;
}

.bg-janium-active {
  background-color: darken(@janium , 5%) !important;
}

.text-janium {
  color: @janium !important;
}

.bg-librarian {
  background-color: @librarian !important;
}

.bg-librarian-active {
  background-color: darken(@librarian , 5%) !important;
}

.text-librarian {
  color: @librarian !important;
}

.bg-ocean {
  background-color: @ocean !important;
}

.bg-ocean-active {
  background-color: darken(@ocean , 5%) !important;
}

.text-ocean {
  color: @ocean !important;
}

.bg-summer-sky {
  background-color: @summer-sky !important;
}

.bg-summer-sky-active {
  background-color: darken(@summer-sky , 5%) !important;
}

.text-summer-sky {
  color: @summer-sky !important;
}

.bg-san-marino {
  background-color: @san-marino !important;
}

.bg-san-marino-active {
  background-color: darken(@san-marino , 5%) !important;
}

.text-san-marino {
  color: @san-marino !important;
}

.bg-thunderbird {
  background-color: @thunderbird !important;
}

.bg-thunderbird-active {
  background-color: darken(@thunderbird , 5%) !important;
}

.text-thunderbird {
  color: @thunderbird !important;
}

// Permite customizar la fuente del tema
body {
  font-family: @jnm-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @jnm-font-family;
}

// Define color al fondo de los logos, oculta color
// del wrapper cuando este no es un tema light.
.layout-top-nav .wrapper .main-header .logo_y_menu {
  background-color: @jnm-logo-bg;
}

/*
 * Fix to IE10 in Win8 & Windows Phone 8
 * ----------------------
 */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
