//
// Variables Janium Theme
// --------------------------------------------------


//== Colors
@brand-primary:         #0277be;
@gray-dark:             #56565b;
@gray:                  #e20276;
@gray-light:            #7baf55;
@gray-lighter:          #a6a5a7;

//== Scaffolding
@body-bg:               #fcfcfc;

//== Tables
@table-border-color:            @gray-dark;

//== Forms
@input-color:                   lighten(@gray-base, 33.5%); // #555

//== Navbar
@navbar-inverse-bg:             @brand-primary;


//== Mixin AdminPanel
@ap-base:     @brand-primary;
@ap-lighter1: lighten(spin(@ap-base, 5), 10%);
@ap-lighter2: lighten(spin(@ap-base, 10), 20%);
@ap-darker1:  darken(spin(@ap-base, -5), 10%);
@ap-darker2:  darken(spin(@ap-base, -10), 20%);


@adm-panel-color-base      : @brand-primary;
@adm-panel-color-primary   : mix(@adm-panel-color-base, mediumvioletred);
@adm-panel-color-secondary : mix(@adm-panel-color-base, lightseagreen);
@adm-panel-color-tertiary  : mix(@adm-panel-color-base, mintcream);
